[submodule "adwaita-icon-theme"]
	path = adwaita-icon-theme
	url = https://github.com/GNOME/adwaita-icon-theme.git
[submodule "breeze-icons"]
	path = breeze-icons
	url = https://anongit.kde.org/breeze-icons.git
